percona:

  # Ubuntu package versions are like: 5.6.36-82.0-1.precise (Please remove -1.precise)
  # We configure the release version in repo.sls
  # If not defined we default major version to 5.6
  #version: 5.6.31-77.0

  # Override any names defined in map.jinja
#  lookup:
#    server: mysql-server
#    client: mysql-client
#    service: mysql-service
#    python: python-mysqldb

  # Install MySQL headers
  dev:
    # Install dev package - defaults to False
    install: False
